$dark-grey: #232529;
$light-grey: #292c31;
$border-grey: #35383f;
$red: #e3796a;

.task {
    box-sizing: border-box;
    padding: 10px;
    width: 185px;
    cursor: pointer;

    &:hover { 
        color:$red;
        width: 185px;
    }
    p {
        text-align: center;
        font-weight: bold;
        width: 145px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover{color: $red;}
    }
    &-active { //выделить активную задачу
        box-sizing: border-box;
        padding: 10px;
        width: 185px;
        color: $red;
        p {
            color: $red;
            text-align: center;
            font-weight: bold;
            width: 145px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

//класс задающий стили для кружков соответствующим статусу задачи
.circle {
    &-waiting {
        display: inline-block;
        border-radius: 15px;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        background: rgb(80, 77, 77);
    }
    &-done {
        display: inline-block;
        border-radius: 15px;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        background: rgb(6, 88, 6);
    }
    &-processing {
        display: inline-block;
        border-radius: 15px;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        background: rgb(62, 78, 143);
    }
}
