$dark-grey: #232529;
$light-grey: #292c31;
$border-grey: #35383f;
$red: #e3796a;

.content {
    display: inline-block;
    width: 785px;
    height: 600px;
    &-taskheader {
        width: 100%;
        height: 90px;
        box-sizing: border-box;
        padding: 15px;
        font-weight: bold;
        font-size: 16px;
        background: $dark-grey;
        resize: none;
        border: 0px;
    }
    &-buttons { //стили кнопок панели в content
        width: 100%;
        height: 30px;
        background: $light-grey;
        border-top: 5px solid $border-grey;
        border-bottom: 5px solid $border-grey;
        &-done {
            background: rgb(6, 88, 6);
            box-sizing: border-box;
            width:157px;
            text-align: center;
            display: inline-block;
            border: 3px solid $border-grey;
            border-radius: 5px;
            cursor: pointer;
        }
        &-processing {
            background: rgb(62, 78, 143);
            box-sizing: border-box;
            width:157px;
            text-align: center;
            display: inline-block;
            border: 3px solid $border-grey;
            border-radius: 5px;
            cursor: pointer;
        }
        &-waiting {
            background: rgb(80, 77, 77);
            box-sizing: border-box;
            width:157px;
            text-align: center;
            display: inline-block;
            border: 3px solid $border-grey;
            border-radius: 5px;
            cursor: pointer;
        }
        &-save{
            background: black;
            box-sizing: border-box;
            width:157px;
            text-align: center;
            display: inline-block;
            border: 3px solid $border-grey;
            border-radius: 5px;
            cursor: pointer;
        }
        &-delete {
            background: black;
            box-sizing: border-box;
            width:157px;
            text-align: center;
            display: inline-block;
            border: 3px solid $border-grey;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    &-field {
        border-width: 0px;
        box-sizing: border-box;
        padding: 15px;
        width: 100%;
        height: 465px;
        background: $dark-grey;
        resize: none;
    }
}
